@page
@model ECommerce.Web.Pages.Manage.Entity.Index
@{
}

<h3>Entity</h3>

<div class="search">
    <i class="bi bi-search"></i>
    <input type="text" class="form-control" placeholder="Search" id="search" value="@Model?.Data?.Entity?">
</div>

<div class="row">
    <div class="col-3">
        <div class="form-group">
            <label for="">Sort By</label>
            <select class="form-control" id="sortBy" asp-for="Data.Entity">
                <option value="">choose</option>
                <option value="name">Name</option>
                <option value="news">News</option>
                <option value="editorial">Editorial</option>
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="">Sort Order</label>
            <select class="form-control" id="sortOrder" asp-for="Data.Entity">
                <option value="1">Consumable</option>
                <option value="2">Non-Consumable</option>
            </select>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-2">
        <div class="form-group">
            <a href="~/manage/entity/create" class="form-control btn btn-success"></a>
        </div>
    </div>
</div>